@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

html {
	scroll-behavior: smooth;
}

.text-outline {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-text-stroke: 1px white;
	-webkit-text-fill-color: transparent;
}

.responsive-text {
	font-weight: bolder;
	font-size: 60px;
}

@media (min-width: 640px) {
	.responsive-text {
		font-size: 100px;
	}
}

@media (min-width: 768px) {
	.responsive-text {
		font-size: 140px;
	}
}

@media (min-width: 1024px) {
	.responsive-text {
		font-size: 180px;
	}
}
